@model CRM11.UI.Areas.Admin.ModelView.PermissionView
@{
    ViewBag.Title = "新增权限";
}
@section headSection{
    <style type="text/css">
        #imgIco {
            width: 16px;
            height: 16px;
            margin-top: 4px;
            display: inline-block;
        }
    </style>
<script src="~/Scripts/jquery.globalHelper.js"></script>
    <script type="text/javascript">

        $(function () {
           
            console.log(window.top.$("#commonWindow").panel("options").title);
            if (window.top.$("#commonWindow").panel("options").title == "添加权限") {
                $("#perParent").change(loadOrderNumber);
                $("#perParent").change();
            }
           
            $("#perIco").change(changeIcon);
            $("#perIco").change();
        })

        //自动生成排序序号
        function loadOrderNumber()
        {
            if (this.value != "") {
                //获取选中的父权限ID
                var parentId = this.value;
                $.post("/admin/permission/loadOrderNumber", { pId: parentId }, function (data) {
                    $("#perOrder").val(data);

                })
            }
           
        }

        function begin() {
            $.msgBoxObj.showWait("正在努力提交，请稍候......");
        }

        function complete(xhrObj) {
            $.msgBoxObj.hide();
            console.log(xhrObj);
            $.msgProcess(xhrObj.responseText, function () {                
                $.globalHelper.closeCommonWindow();//消息显示完毕后，关闭公共窗体

                $.globalHelper.reloadSelectedTapDataGrid(); //重新加载datagruid数据
            });
        }


        function changeIcon() {            
            document.getElementById("imgIco").className = document.getElementById("perIco").value;
        }
    </script>

}


@using (Ajax.BeginForm(new AjaxOptions() { OnBegin = "begin", OnComplete = "complete" }))
{
    <table class="tbList">
        <tr>
            <td>@Html.DisplayNameFor(o=>o.perName)</td>
            <td>@Html.TextBoxFor(o=>o.perName)</td>
            <td>@Html.ValidationMessageFor(o=>o.perName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o=>o.perParent)</td>
            <td>@Html.DropDownListFor(o=>o.perParent,ViewBag.ParentPer as IEnumerable<SelectListItem>,"父权限")</td>
            <td>@Html.ValidationMessageFor(o=>o.perParent)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o=>o.perAreaName)</td>
            <td>@Html.TextBoxFor(o => o.perAreaName)</td>
            <td>@Html.ValidationMessageFor(o => o.perAreaName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perControllerName)</td>
            <td>@Html.TextBoxFor(o => o.perControllerName)</td>
            <td>@Html.ValidationMessageFor(o => o.perControllerName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perActionName)</td>
            <td>@Html.TextBoxFor(o => o.perActionName)</td>
            <td>@Html.ValidationMessageFor(o => o.perActionName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perFormMethod)</td>
            <td>@Html.DropDownListFor(o => o.perFormMethod, CRM11.UI.Helper.EnumHelper.FormMethod.DropListData)</td>
            <td>@Html.ValidationMessageFor(o => o.perFormMethod)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perOperationType)</td>
            <td>@Html.DropDownListFor(o => o.perOperationType, CRM11.UI.Helper.EnumHelper.OperationType.DropListData)</td>
            <td>@Html.ValidationMessageFor(o => o.perOperationType)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perIco)</td>
            <td>@Html.DropDownListFor(o => o.perIco, CRM11.UI.Helper.EnumHelper.IconClassName.DropListData,"图标") <div class="icon-cut" id="imgIco"></div></td>
            <td>@Html.ValidationMessageFor(o => o.perIco)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perOrder)</td>
            <td>@Html.TextBoxFor(o => o.perOrder)</td>
            <td>@Html.ValidationMessageFor(o => o.perOrder)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perJsMethodName)</td>
            <td>@Html.TextBoxFor(o => o.perJsMethodName)</td>
            <td>@Html.ValidationMessageFor(o => o.perJsMethodName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.perRemark)</td>
            <td>@Html.TextBoxFor(o => o.perRemark)</td>
            <td>@Html.ValidationMessageFor(o => o.perRemark)</td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="确定新增" />
                @Html.DisplayNameFor(o => o.perIsLink) @Html.CheckBoxFor(o => o.perIsLink)
                @Html.DisplayNameFor(o => o.perIsShow) @Html.CheckBoxFor(o => o.perIsShow)
            </td>
        </tr>
    </table>
}

