@model CRM11.UI.ModelView.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/EasyUI/jquery.easyui.min.js"></script>

    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <link href="/MsgBox/jquery.msgbox.css" rel="stylesheet" />
    <script src="/MsgBox/jquery.msgbox.js"></script>

    <script src="/Scripts/jquery.msgProcess.js"></script>
    

    <style type="text/css">
        .loginFormUl{        
         list-style-type:none;
         padding:0px;
         text-align:center;
         margin:60px 0px;
        }
        .loginFormUl li {           
            margin-bottom:13px;
            min-height:24px;
        }
            .loginFormUl li img {
                position: relative;
                left: 19px;
            }
            .textboxs {
                width: 180px;
                height: 24px;
                position:relative;                
            }
        .labelText {
            position: relative;
            left: -25px;
        }

        .labelcode {
            left: 15px;
        }

        #LoginPwd {
            left: -23px;
        }
        #LoginName {
            left: -17px;
        }
        #LoginCode {
            left: 22px;
        }
        .submitButton {
            width: 197px;
            height: 33px;
            background-color: #2849cb;
            border-radius: 5px;
            position: relative;
            color: white;
            box-shadow: 3px 2px 4px #888888;
        }
        .validation-summary-errors ul
        {
            list-style-type:none;
            color:red;
            padding:0px;
           
        }
            .validation-summary-errors ul li {
              min-height:10px;
              margin-bottom:5px;
            }

        #vcodeImg {
         position:relative;
         top:8px;
         left:28px;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#loginWindow").window({
                title: "欢迎登录",
                width: 600,
                height: 400,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                closable: false,
                draggable: false,
                resizable: false,
                modal: true,
                iconCls:"icon-man"
            });

            
            $("#vcodeImg").click(function () {
                this.src = "/VCode.ashx?r=" + Math.random();
            })

        });


      
        

        function begin()
        {
            $.msgBoxObj.showWait("登陆中，请稍候");
        }

        function complete(xhrObj)
        {
            $.msgBoxObj.hide();

            $.msgProcess(xhrObj.responseText);

        }

    </script>
</head>
<body>
    <div id="loginWindow"> 
        @using (Ajax.BeginForm(new AjaxOptions() {HttpMethod="post", OnBegin="begin",OnComplete="complete" }))
        {
        <ul class="loginFormUl">
            <li>
               @Html.LabelFor(u => u.LoginName, new { @class = "labelText" })
               @Html.TextBoxFor(u => u.LoginName, new { @class = "textboxs" })
            </li>

            <li>
                @Html.LabelFor(u => u.LoginPwd, new { @class = "labelText" })
                @Html.PasswordFor(u => u.LoginPwd, new { @class = "textboxs" })
            </li>
            <li>
                @Html.LabelFor(u => u.LoginCode, new { @class = "labelText labelcode" })
                @Html.TextBoxFor(u => u.LoginCode, new { @class = "textboxs" })
                <img id="vcodeImg" style="cursor:pointer;" src="/Vcode.ashx" alt="验证码" />
            </li>
            <li>
                <input type="submit" class="submitButton" value="登录" />
                <input type="checkbox" name="IsAlwaysLogin" value="true" />是否保持登录?
            </li>
            <li>
                @Html.ValidationSummary()
            </li>
        </ul>
        }
    </div>
</body>
</html>
